* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background: rgb(230, 239, 248);
    height: 80vh;
}
.wave {
    position: absolute;
    top: -60px;
}
#visible {
    margin-top: 28vh;
}
p {
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
#form {
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
}
textarea {
    width: 70%;
    border: 2px solid black;
    border-radius: 20px;
    padding: 13px;
    font-size: 25px;
}
#outer {
    height: 100px;
    display: flex;
    justify-content: center;
}
#inner {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
}
button {
    width: 100px;
    height: 70%;
    border-radius: 10%;
    font-size: 20px;
}
button:hover {
    text-decoration: underline;
}
#easy {
    background-image: linear-gradient(35deg, #3ed657, #adedb8);
}
#medium {
    background-image: linear-gradient(35deg, #facc7d, #e6f090)
}
#hard {
    background-image: linear-gradient(35deg, #ed343d, #f57a80)
}
.buttons {
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.buttons button {
    border-radius: 20px;
    border: none;
    padding: 2% 4%;
}
#secret {
    position: relative;
    display: none;
    flex-direction: column;
    width: 100%;
    min-height: 87vh;
    border-top: 35px solid #195e94;
    border-bottom: 35px solid #195e94;
    background: linear-gradient(30deg, rgb(230, 239, 248), rgb(137, 187, 236));
}
#buttons {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}
.ibutton {
    height: max-content;
    width: max-content;
    margin-left: 40px;
    margin-top: 6px;
    margin-bottom: 15px;
    font-size: 30px;
    padding-left: 1%;
    padding-right: 1%;
    border: none;
    border-radius: 20px;
    border: 1px solid rgb(54, 52, 52);
}
#up {
    padding: 20px;
    font-size: 1.5rem;
}
img {
    width: 30px;
    position: relative;
    top: 8px;
    z-index: 10;
    background-color: white;
    border-radius: 100%; 
}
#play {
    display: none;
}
.idk {
    background-color: gray;
}
.check {
    border-radius: 10px;
    border: 1px solid black;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    padding-left: 0.5%;
    width: 150px;
    font-size: 1.5rem;
}
.error {
    margin-left: 5px;
}
#score {
    font-size: 30px;
    text-align: center;
    margin-bottom: 0px;
    background: rgb(211, 227, 242);
}

.short {
    width: 500px;
    height: 100px;
    background-color: #f57a80;
    font-weight: bold;
    color: white;
    border-radius: 30px;
    animation: short linear 6s;
    top: -150px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
@keyframes short {
    0% {
        margin-top: -100px;
    }
    15% {
        margin-top: 300px;
    }
    90% {
        margin-top: 300px;
    }
    100% {
        margin-top: -150px;
    }
}

@media (max-width: 500px) {
    body {
        overflow-x: hidden;
    }
    .wave {
        top: 20px;
        transform: scale(1, 2);
    }
    p {
        font-size: 1.5rem;
        text-align: center;
        position: relative;
        top: -50px;
        margin: 0 40px;
    }
    #form {
        position: relative;
        top: -20px;
        height: 200px;
        width: 90%;
        margin: 20px auto;
        position: relative;
    }
    #outer {
        width: 100%;
    }
    #inner {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 2rem;
    }
    .buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
        margin-top: 20px;
    }
    .buttons button {
        width: 28%;
        height: max-content;
        border: none;
        border-radius: 10px;
        padding: 1% 2%;
    }
    #up {
        font-size: 2rem;
    }
    .ibutton {
        font-size: 2rem;
        padding: 2% 4%;
    }
    .check {
        font-size: 1.5rem;
        margin-bottom: 10px;
        padding-left: 10px;
    }
    #score {
        font-size: 2rem;
    }
    img {
        width: 1.3em;
    }
}